{% extends "master.html" %}
{% load static %}
{% load filters %}
{% load mathfilters %}
{% block switch %}
{% endblock %}
{%block contenido%}
    <link rel="stylesheet" href="{% static 'cliente/model/css/styleCarrito.css' %}">
    <link rel="stylesheet" href="{% static 'cliente/model/css/styleIndex.css' %}">
    <link rel="stylesheet" href="{% static 'cliente/model/css/stylePago.css' %}">
    <div id="loles">
      <div class="ccccard">
        <div class="row" style="padding-top: 100px; padding-bottom: 10px;">
            <div class="col-md-8 ccccart">
                <div class="ccctitle">
                    <div class="row">
                        <div class="col-md-5"><h4><b>Carrito de compras</b></h4></div>
                        <div class="col-md-6 align-self-center text-right text-muted">{{tot_cant}} Productos</div>
                        <div class="col-md-1 text-right">
                          <a href={% url 'gestionarCarrito' 'limpiar' %}><i class='fas fa-trash-alt' style=" color: black;"></i></a>
                        </div>
                    </div>
                </div>    
                <div style="overflow: auto; height: 45vh; scrollbar-width: none; padding-right: 10px;" id="jajalol">
                    {% for id, producto in request.session.carrito.items %}
                        <div class="row border-top border-bottom">
                            <div class="row cccmain align-items-center">
                                
                                <div class="col-2"><img class="img-fluid" src="{{ producto.imagen }}" style="width: 10rem;"></div>                                
                                <div class="col">
                                    <div class="cccrow text-muted"><a href="{% url 'producto_detalle' producto.producto_id %}" style="text-decoration: none;">{{ producto.nombre }}</a></div>
                                    <div class="cccrow"></div>
                                </div>
                                <div class="col">
                                    <a href="{% url 'gestionarCarrito' 'restar' producto.producto_id  'carrito' %}" style="padding: 0 0.7vh; text-decoration: none;" class="ntm">-</a><a href="javascript:void(0);" class="border" style="text-decoration: none;">{{ producto.cantidad }}</a><a href="{% url 'gestionarCarrito' 'agregar' producto.producto_id 'carrito' %}" style="padding: 0 0.7vh; text-decoration: none;" class="ntm">+</a>
                                </div>
                                    <div class="col price"><a href="javascript:void(0);" style="text-decoration: none;">&dollar; {{ producto.precio_unitario|multiply:producto.cantidad|format_price }}</a></div>                              
                                    <a href="{% url 'gestionarCarrito' 'eliminar' producto.producto_id  'carrito' %}" class="btn btn-close ntm" aria-label="Close"></a>                        
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="cccback-to-shop"><a href="index">&leftarrow; Volver a la Tienda</a><span class="text-muted"></span></div>
            </div>
            <div class="col-md-4 cccsummary">
                <div><h5 style="margin-top: 4vh;"><b>Total</b></h5></div>
                <hr style="margin-top: 1.25rem;">
                <div class="row">
                    <div class="col">{{tot_cant}} Productos</div>
                    <div class="col text-right price"><a href="javascript:void(0);" style="text-decoration: none;">&dollar; {{total|format_price}}</a></div>                                
                </div>
                <form>
                    <p class="mt-2">Envío</p>
                    <select id="envio">
                        <option value="0" class="text-muted">Retiro en Tienda &dollar; 0</option>
                        <option value="3990" class="text-muted">Envío Estándar &dollar; 3.990</option>
                        <option value="5990" class="text-muted">Envío Express &dollar; 5.990</option>
                      </select>
                    <p>Código Promocional</p>
                    <input id="code" placeholder="Ingresa tu código">
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">Total a Pagar</div>
                    <div class="col total-pagar price"><a href="javascript:void(0);" style="text-decoration: none;">&dollar; {{total|format_price}}</a></div>                                
                </div>
                {% if request.session.carrito %}
                    <form action="{% url 'iniciar_pago' %}" method="get" style="display: inline;">
                        <button type="submit" class="cccbtn">Pagar</button>
                    </form>                {% else %}
                    <button class="cccbtn" disabled>Carrito vacío</button>
                {% endif %}              
            </div>
        </div>
        <script>
          $(function() {
            $('[data-toggle="tooltip"]').tooltip()
          })
        </script>
        
      </div>
    </div>
    <script>
        $(document).ready(function() {
            $(".ntm").click(function(event) {
                event.preventDefault();
        

                var scrollPosition = $("#jajalol").scrollTop();
        
 
                var selectedEnvio = $('#envio').val();
        
                $.ajax({
                    url: $(this).attr('href'),
                    type: 'GET',
                    success: function(data) {
                        $("#loles").html(data);
        

                        $("#jajalol").scrollTop(scrollPosition);
        
                        $('#envio').val(selectedEnvio);
                    }
                });
            });
        });

        

        function formatNumber(num) {
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
        }
        
        document.getElementById('envio').addEventListener('change', function() {
            var total = parseFloat({{ total|default:"0" }});
            var envio = parseFloat(this.value);
            var totalConEnvio = total + envio;
            document.querySelector('.total-pagar a').textContent = '$ ' + formatNumber(totalConEnvio.toFixed(0));
        });
    </script>
{%endblock%}